alias ls='ls --color=auto'
alias ll='ls -l --human-readable --color=auto --group-directories-first --classify'
alias la='ls -A'
alias l='ls -CF'
alias sl='ls'

alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'

alias grep='grep --color=auto --exclude-dir={.git}'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias g='git'
alias gti='git'
alias ga='git add'
alias gaa='git add --all'
alias gc='git commit -v'
alias gca='git commit -va'
alias gcaa='git add --all && git commit -va'

alias vim='nvim'
alias vi='vim'
alias v='vim'

alias cp='cp -v'
alias mv='mv -v'
alias rm='rm -v -I'

alias mc='mvn clean'
alias mci='mvn clean install -DskipTests'
alias mcit='mvn clean install'
alias mi='mvn install -DskipTests'
alias mit='mvn install'

alias vs='vagrant ssh'
alias vu='vagrant up'
alias vd='vagrant destroy -f'
alias vh='vagrant halt'

if [ "$(uname -o)" = "Msys" ]; then
  alias open='start'
fi

if [ "$(uname -s)" = "Linux" ]; then
  alias open='xdg-open'
  alias pbcopy='xclip -selection clipboard'
  alias pbpaste='xclip -selection clipboard -o'
fi

alias diskspace='du -S | sort -n -r | more'
alias vimdiff='nvim -d'

# vim: set filetype=sh :
