[include]
    path          = config.local

[core]
    autocrlf       = input
    commitGraph    = true
    pager          = less -FRSX
    quotepath      = false
    untrackedCache = true
    fsmonitor      = true

[init]
    defaultBranch = main

[receive]
    advertisePushOptions = true

[gc]
    writeCommitGraph     = true

[color]
    diff          = always
    status        = auto
    branch        = auto
    interactive   = auto
    ui            = true

[status]
    relativePaths = true

[apply]
    whitespace    = nowarn

[mergetool]
    keepBackup    = false

[difftool]
    prompt        = false

[help]
    autocorrect   = 1

[push]
    default         = simple
    autoSetupRemote = true

[diff]
    tool          = vimdiff
    algorithm     = histogram

[log]
    abbrevCommit  = true
    follow        = true
    decorate      = full

[alias]
    s             = status
    co            = checkout
    br            = branch
    ci            = commit
    df            = diff --color
    d             = difftool
    glog          = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    prune         = fetch --prune
    squash-all    = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-A new start}\");};f"

# vim: set filetype=gitconfig foldmethod=marker :
